/* FONTS
-------------------------*/

@font-face {
    font-family: "MontserratBlack";
    src: url("../src/sass/fonts/Montserrat-Black.otf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../src/sass/fonts/Montserrat-Bold.otf");
}

@font-face {
    font-family: "MontserratHairline";
    src: url("../src/sass/fonts/Montserrat-Hairline.otf");
}

@font-face {
    font-family: "MontserratLight";
    src: url("../src/sass/fonts/Montserrat-Light.otf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("../src/sass/fonts/Montserrat-Regular.otf");
}