/* TYPOGRAPHY
-------------------------*/

#tagline{
	color: $white;
	//color: $positive;
	font-family:$light-font;
	font-size:2em;
}

.category-style{
	color: $positive !important;
	margin:0 !important;
	// font-family:$light-font;
}

@mixin my-flash($background,$text){
	background:$background;
	//color:$text;
	font-family:$regular-font;
	//font-size:$font-size-small !important;
	//padding:1em 1em;
	padding: 20px 40px;
	//border-radius: $border-radius-base;
}

.flash-alert{
	@include my-flash($stable,$concrete);
}

.flash-error{
	@include my-flash($energized,$light);
}

.flash-positive{
	@include my-flash($positive,$light);
}