  $base-border-color: $dark;
  $base-border-radius: 0px !default;
  $large-screen: em(860) !default;
  
  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $navigation-padding: 1em;
  $navigation-background: white;
  $navigation-color: transparentize(black, 0.3);
  $navigation-color-hover: black;
  $navigation-height: 120px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-search-background: $navigation-background;
  $navigation-active-link-color: $base-accent-color;
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

.search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-background: $navigation-background;
    padding: 1em 2em;
    width: 100%;

    @include media($large-screen) {
      width: 80%;
    }

    form {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        background: $navigation-search-background;
        border-radius: $base-border-radius * 10;
        color: $base-accent-color;
        font-size: 0.9em;
        margin: 0;
        padding: 0.5em 0.8em;
        width: 100%;
        box-shadow: none !important;

        @include media($large-screen) {
          width: 100%;
        }
      }

      button[type=submit] {
        @include button(flat, $navigation-search-background);
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 9px;
        position: absolute;
        right: 0.3em;
        top: 0.3em;

        img {
          height: 12px;
          opacity: 0.7;
          padding: 1px;
        }
      }
    }

    @include media($horizontal-bar-mode) {
      display: inline-block;
      position: relative;
      width: 24em;

      input {
        @include box-sizing(border-box);
        display: block;
      }
    }
  }